.wlp-popup{
	
	position: fixed;
	bottom: 15px;
    right: 15px;
    margin-left: 15px;
	padding: 0 15px;
	background: rgba(27,40,56,0.9);
    color:#fff;
    border-radius: 5px;
    display: none;
    z-index: 10;

}

.wlp-wrapper{

    display: table;

}

.wlp-popup-close, .wlp-popup-text{

    display: table-cell;
    vertical-align: middle;
    padding: 15px;

}

.wlp-popup-close{

    width: 16px;
    height: 16px;
    background: transparent url('../images/close.gif') center center no-repeat;
    cursor: pointer;

}